// main colors
$main-first-color: #00548E;
$main-second-color: green;
$main-third-color: blue;

// colors
$title-color: #222222;
$text-color: #222222;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-custom: 'Raleway', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 14px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: false;
$body-color: $text-color;

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1170px
);

$gray-100: #f4f4f4;
$gray-300: #dddddd;
$gray-800: #777777;
$black: #222222;

$primary: $main-first-color;
$red: #F44336;
$green: #00C853;