/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .partners {
    picture {
      flex: 0 0 33.333%;
    }
  }
}
@include media-breakpoint-up(md) {
  .navbar {
    &-nav {
      margin-right: 40px;
    }

    .nav-item {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }
  }

  .partners {
    picture {
      flex: 0 0 auto;
      margin: 0;
    }
  }
}
@include media-breakpoint-up(lg) {
  .navbar {
    &-nav {
      margin-right: 80px;
    }

    .nav-item {
      margin-right: 40px;
      &:last-child {
        margin: 0;
      }
    }
  }

  .countries {
    max-width: 330px;

    &__head {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid $gray-300;
    }
  }
}
@include media-breakpoint-up(xl) {}

// max-width
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {}
@media screen and (max-width: 320px) {}
